/* CSS Document */

html {
	border: solid 2px black;
}

h1 {
	border: solid 2px black;
	font-family: "Raleway", sans-serif;
}

.top_nav {
	border: solid 2px red;
}
.nav_item {
	border: solid 2px green;
	display: inline;
}
